/* wxauth/pages/login/index.wxss */
.pagebodyv {
  width: 100vw;
  height: calc(100vh - 300rpx);
  position: absolute;
  top: 300rpx;
  left: 0;
  z-index: 9999;
}

.bodyv {
  padding: 0 52rpx;
}

.title {
  font-size: 48rpx;
  font-weight: 500;
  color: #262626;
}

.tip {
  font-size: 24rpx;
  color: #999999;
  margin-bottom: 60rpx;
}

.hangv {
  width: 100%;
  height: 108rpx;
  border-bottom: 1rpx solid #eee;
  margin-bottom: 40rpx;
  display: flex;
}

.hangicon1 {
  width: 36rpx;
  height: 36rpx;
  margin-right: 20rpx;
  margin-top: 36rpx;
}

.hangicon2 {
  width: 38rpx;
  height: 36rpx;
  margin-right: 20rpx;
  margin-top: 36rpx;
}

.hangtxt {
  width: 550rpx;
  height: 108rpx;
  font-size: 34rpx;
  font-weight: 500;
  color: #262626;
}

.hangtip {
  font-weight: 300;
  color: #999999;
}

.btn {
  width: 548rpx;
  height: 96rpx;
  background: #F24540;
  border-radius: 48rpx;
  margin: 120rpx auto;
  font-size: 32rpx;
  font-weight: 500;
  color: #FFFFFF;
  text-align: center;
  line-height: 96rpx;
}