/* components/bgcom/index.wxss */
.bodycomv {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background: #fff;
}

.topv {
  width: 100vw;
  height: 300rpx;
  background: url('http://rmtg16huu.bkt.clouddn.com/zhongtaikaohe/%E4%B8%8A%E9%83%A8%E5%88%86%E6%8F%92%E7%94%BB%402x.png') no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.statusv {
  display: flex;
  width: 560rpx;
  height: 72rpx;
  line-height: 72rpx;
}

.backv {
  width: 100rpx;
  height: 72rpx;
}

.backicon {
  width: 18rpx;
  height: 34rpx;
  margin-left: 34rpx;
  margin-top: 19rpx;
  display: block;
}

.pagetitle {
  width: 350rpx;
  height: 72rpx;
  font-size: 32rpx;
  font-weight: 500;
  color: #000000;
  text-align: center;
  margin-left: 100rpx;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.bbtmv {
  width: 100vw;
  height: 1156rpx;
  position: fixed;
  bottom: 0rpx;
  left: 0rpx;
  z-index: 1;
  background: url('http://rmtg16huu.bkt.clouddn.com/zhongtaikaohe/%E4%B8%8B%E9%83%A8%E5%88%86%402x.png') no-repeat;
  background-size: cover;
}

.bcontentv{
  width: 100vw;
  height: calc(100vh - 212rpx);
  position: absolute;
  top: 212rpx;
  left: 0;
  z-index: 9999;
}