/* wxauth/pages/auth/study.wxss */
page {
  border-top: 1rpx solid #eee;
  background: #fff;
}

.txv {
  padding-left: 32rpx;
  height: 200rpx;
  background: #fff;
}

.btnopt {
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  line-height: 112rpx;
}

.btnopt::after {
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
}

.tx {
  width: 144rpx;
  height: 144rpx;
  border-radius: 50%;
  margin-top: 28rpx;
  margin-right: 20rpx;
}

.txtxt {
  line-height: 200rpx;
  font-size: 32rpx;
  color: #262626;
}

.geduanv {
  width: 100vw;
  height: 16rpx;
  background: #F7F7F7;
}

.hangv {
  height: 112rpx;
  background: #FFFFFF;
  padding: 0 32rpx;
  display: flex;
  justify-content: space-between;
  line-height: 112rpx;
}

.hangtag {
  font-size: 32rpx;
  color: #262626;
}

.hangval {
  display: flex;
  justify-content: flex-end;
  width: 500rpx;
}


.hangtxt {
  height: 112rpx;
  line-height: 112rpx;
  text-align: right;
  font-size: 28rpx;
  color: #666666;
}
.hangtip{
  font-weight: 300;
  color: #999;
}

.right {
  width: 10rpx;
  height: 20rpx;
  margin-top: 46rpx;
}

.btmv {
  width: 100vw;
  height: 92rpx;
  position: fixed;
  bottom: 88rpx;
  left: 0rpx;
}

.btn {
  width: 686rpx;
  height: 92rpx;
  background: #F7F7F7;
  border-radius: 46rpx;
  font-size: 32rpx;
  color: #999999;
  text-align: center;
  line-height: 92rpx;
  margin: 0 auto;
}
.phonebtn{
  width: 500rpx;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
  line-height: 112rpx;
}
.phonebtn::after{
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  background: transparent;
}