/*顶部用户信息部分*/
.topv {
  width: 100vw;
  height: 384rpx;
  background: url('http://rmtg16huu.bkt.clouddn.com/zhongtaikaohe/%E7%BC%96%E7%BB%84%206%402x.png') no-repeat;
  background-size: cover;
}

.topv .userinfov {
  display: flex;
  justify-content: space-between;
  padding: 212rpx 0 0 32rpx;
}

.topv .userv {
  display: flex;
}

.topv .tx {
  width: 104rpx;
  height: 104rpx;
  border-radius: 50%;
  margin-right: 20rpx;
}

.topv .nickname {
  padding-top: 8rpx;
  font-size: 32rpx;
  color: #000000;
}

.topv .usernum {
  font-size: 28rpx;
  color: #999999;
}

.topv .infobtn {
  width: 160rpx;
  height: 56rpx;
  background: #E8F8F5;
  border-radius: 28rpx 0rpx 0rpx 28rpx;
  font-size: 24rpx;
  color: #00AC6A;
  text-align: center;
  line-height: 56rpx;
  margin-top: 24rpx;
}

/*菜单栏*/
.menuv {
  width: 686rpx;
  height: 120rpx;
  background: #FFFFFF;
  border-radius: 12rpx;
  margin: -20rpx auto 20rpx;
  display: flex;
  justify-content: space-between;
}

.menuv .menuc {
  width: 342rpx;
  display: flex;
  justify-content: center;
  font-size: 32rpx;
  color: #000000;
  line-height: 120rpx;
}

.menuv .menuicon1 {
  width: 76rpx;
  height: 86rpx;
  margin-top: 16rpx;
}

.menuv .menuicon2 {
  width: 84rpx;
  height: 84rpx;
  margin-top: 20rpx;
}

.menuv .menuline {
  width: 2rpx;
  height: 32rpx;
  background: #EEEEEE;
  margin-top: 44rpx;
}

/*标题栏*/
.titlev {
  height: 100rpx;
  background: #F7F7F7;
  line-height: 100rpx;
  padding: 0 32rpx;
  display: flex;
  justify-content: space-between;
}

.titlev .title {
  font-size: 32rpx;
  color: #262626;
}

.titlev .alltxt {
  font-size: 24rpx;
  color: #999999;
}

.testcom {
  width: 686rpx;
  height: 184rpx;
  background: #FFFFFF;
  border-radius: 12rpx;
  margin: 0rpx auto 20rpx;
  display: flex;
}

.testinfov {
  width: 502rpx;
  height: 184rpx;
}

.kaoshi {
  width: 100rpx;
  height: 48rpx;
  display: block;
}

.testname {
  padding: 0 32rpx;
  font-size: 30rpx;
  font-weight: 500;
  color: #262626;
}

.date {
  font-size: 24rpx;
  color: #666666;
  padding-left: 32rpx;
  margin-top: 10rpx;
}

.scorev {
  width: 184rpx;
  height: 184rpx;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  border-left: 1rpx solid #eee;
  text-align: center;
}

.fenv {
  font-size: 36rpx;
  font-weight: 500;
  color: #262626;
}

.fenv text {
  font-size: 24rpx;
}

.scoretip {
  font-size: 24rpx;
  color: #999999;
}